

/* sign in FORM */
.container{
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(./images/background.jpg);
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 5000px;
    margin: 0;
    margin-right: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;                  /*kích hoạt flex*/
    flex-direction: row;            /*kích hoạt hướng chính*/
    flex-wrap: nowrap;              /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: flex-start;      /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: stretch;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;  
    background-color: #272c4a;
    display: block;
    
}
.container tieude{
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 100%;
    max-height: 200px;
    height: auto;
    padding: 30px;
}
.container tieude a{
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 100%;
    max-height: 100px;
    height: auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-style: italic;
}
.clearfix{
	clear: both;
}
.reblurd-boxx{
    position: absolute;
    display: inline-block;
    overflow: hidden;
    max-width: 420px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    background: inherit;
    border-radius: 0px;
    left: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    filter: blur(20px);
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    transform: translateX(50%);
}
reblurd-boxx{
    position: absolute;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
/*==================================*/
#logreg-forms{
    position: relative;
    height: 100%;
    margin: auto;
    padding: 6%;
    background-color: initial;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 0px;
    margin: auto;
    height: 500px;
    max-height: 2000px;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}