body{
  position: absolute;
  height: 100%; width: 100%;
	min-height: 100%;
  margin:0px;
	padding: 0px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(../images/background.jpg);
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  margin-top: 4%;
}
.logo span{
	color: #f7403b;
  font-size: 40px;
}
.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.sidenav a {
  padding: 30px 10px 15px 26px;
  text-decoration: none;
  font-size: 21px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#272c4a; /*day*/
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  overflow-y: scroll;
  height: 100%;
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 240px; 
  padding-top: 30px;
  padding-right: 0;
}
.head{
	padding:20px;
  height: 129px;
}
.col-div-6{
	width: 10%;
	float: left;
  margin-top: 13px;
}
.profile{
	display: inline-block;
	float: right;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-13{          /*mẹ*/
	width: 100%;
  padding-right: 20px;
  height: 120px;
	overflow: hidden;
  display: flex;                  /*kích hoạt flex*/
  flex-direction: row;            /*kích hoạt hướng chính*/
  flex-wrap: nowrap;              /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
  justify-content: flex-start;      /*Căn chỉnh nội dung bên trong container có flexbox*/
  align-items: stretch;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
  align-content: stretch;         /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/
}
.room{                /*con 1*/
	width: 40% ;
	height: 100px;
	background-color: #272c4a;
	margin-left: 0px;
	padding:10px;
  float: left;
}
.room-button{         /*con 2*/
	width: 25%;
  position: relative;
	height: 100px;
	background-color: #272c4a;
	padding-left: 20px;
  margin-left: 20px;
	padding:10px;
  overflow: hidden;
  float: left;
}
.room-set{         /*con 3*/
	width: 25%;
  position: relative;
	height: 100px;
	background-color: #272c4a;
	padding-left: 20px;
  margin-left: 20px;
	padding:10px;
  overflow: hidden;
  float: left;
}
.room p{
  font-size: 30px;
   color: white;
   font-weight: bold;
   line-height: 30px;
   padding-left: 10px;
   margin-top: 20px;
   display: inline-block;
}
.room p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.room-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.room-icon-off{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.room-icon-on{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #e6c50f;
    padding-right: 10px;
}
/* ==================================================== */
.col-div-3{
	width: 350px;
  height: 120px;
	float: left;
}
.box{
	width: 330px;
	height: 100px;
	background-color: #272c4a;
	margin-left: 0px;
	padding:10px;
}
.box p{
	 font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.box-icon-off{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.box-icon-on{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #e6c50f;
    padding-right: 10px;
}
.col-div-8{
	width: 100%;
	float: left;
  height: 100%;
  
}
.col-div-4{
	width: 350px;
	float: left;
  height: 350px;
}
.box-4{
  width: 330px;
	background-color: #272c4a;
	height: 330px;
}
.col-div-5{
	width: 30%;
}
.content-box{
  height: 100%;
	padding: 20px;
}
.content-box-2{
  height: 550px;
	padding: 20px;
}
.content-box p{
	margin: 0px;
  font-size: 28px;
  /* color: #f7403b; */
  color: #ddd;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
    
}

.box-8{
	width: 100%;
	background-color: #272c4a;
	height: 330px;
}
.box-8{
  height: 100%;
}
.nav{
  top: 5px;
}
.nav2{
	display: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 550px;
}

td, th {
  text-align: center;
  padding:15px;
  color: #ddd;
  margin-left: 50%;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
th, td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #1b203d;
}

.my-custom-scrollbar {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-bottom: 20%;
  }
.table-wrapper-scroll-y {
  display: flex;
  font-size: 17px;
  }
.headingtable {
  font-family: arial, sans-serif;
  height: 15%;
  font-size: 20px;
  background-color: #272c4a;
  border: none;
  padding-left: 10%;
}
/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress text {
  fill: #fff;
  font: 400 1em/1 'Oswald', sans-serif;
  text-anchor: middle;
}
/*================================================================================================*/
svg.radial-progress2 {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress2 circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress2 circle.incomplete2 { opacity: 0.25; }

svg.radial-progress2 circle.complete2 { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress2 text {
  fill: #fff;
  font: 400 1em/1 'Oswald', sans-serif;
  text-anchor: middle;
}
/*================================================================================================*/
/*** COLORS ***/
/* Primary */

svg.radial-progress:nth-of-type(6n+1) circle { stroke: #1b91d6; }
svg.radial-progress2:nth-of-type(6n+1) circle { stroke: #db710d; }
/* Secondary */

svg.radial-progress:nth-of-type(6n+2) circle { stroke: #db710d; }

/* Tertiary */

svg.radial-progress:nth-of-type(6n+3) circle { stroke: #fd6470; }

/* Quaternary */

svg.radial-progress:nth-of-type(6n+4) circle { stroke: #fca858; }

/* Quinary */

svg.radial-progress:nth-of-type(6n+5) circle { stroke: #fddc32; }
/*================================================================================================*/
/*================================================================================================*/
*, :before, :after { box-sizing: border-box; }
section { text-align: center; }
.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding: 1em;
} 
/*================================================================================================*/
/* Clock */
.clockbox,
#clock {
    width: 100%;
    margin-top: 0%;
}
.clockbox {
  margin-top: 0%;
  position: relative;
  bottom: 0%;
  padding: 19%;
  height: 330px;
}
/* Clock styles */
.circle {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: rgb(255, 255, 255);
}
.hour-marks {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}
/*============NÚT====================================================================================*/
button{
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}

button:hover{
  border: none;
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 8px #f9f8fc;
  } 

 #foot{
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 100%;
  height: 90%;
  background-color: #d9d4e7;
  animation-duration: 5s;
  margin-left: 0px;
  overflow: hidden;
}
/*===============================ON==============================*/
.button-os{
   position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    background-color: #74db81;
    border: 0.5px solid #818181;
    transition: background-color 1.2s;
    transition-duration: 1.2s;
    transition: 1.2s;
  }
  .button-os:hover{
    position: absolute;
    top: 7px;
    background-color: #4be624;
    transition: 0.7s;
  }
  
  .button-os p{
    font-size: 20px;
    display: block;
    text-decoration: none;
    color:#ffffff;
    transition: 1.5s;
  }
  .button-os p:hover{
    letter-spacing: 5px;
  }
  /*===============================OFF==============================*/
.button-off-os{
  position: absolute;
   width: 100%;
   height: 90%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0px;
   background-color: #db7874;
   border: 2.5px solid #818181;
   transition: background-color 1.2s;
   transition-duration: 3s;
   transition: 1.5s;
 }
 
 .button-off-os:hover{
   position: absolute;
   top: 7px;
   background-color: #ee1919;
   transition: 0.7s;
 }
 
 .button-off-os p{
   font-size: 20px;
   display: block;
   text-decoration: none;
   color:#ffffff;
   transition: 1.5s;
 }
 .button-off-os p:hover{
   letter-spacing: 5px;
 }
 /*===============================CONTAINER_BUTTON==============================*/
  .container-button{
    position: relative;
    width: 50%;
    height: 90%;
    overflow: hidden;
    float: left;                         
  }